html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font: 1.6rem helvetica;
  height: 100vh;
  margin: 0;
  
}
.grid-container{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.brand a{
 color: #ffffff;
} 
.brand a:hover{
  color: aquamarine;
}
.header-links a{
  color: #ffffff;
  text-decoration: none;
}
.header-links a:hover{
color: aqua;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #ffffff;
}
a{
  text-decoration: none;
}
a:hover{
  color: red;
}
/*homescreen*/
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{
  list-style-type: none ;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
   display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color: #808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 30rem;
  max-height: 39rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

#root{
  height: 100%;
}
.product-rating{
  margin-bottom: 1rem;
}
/* sidebar */
.brand button{
  color: #ffffff;
  padding: .5rem;
  border: none;
  font-size: 3rem;
  background: none;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all 2se;
  transform: translate(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close-button{
  border-radius: 15%;
  border-width: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  padding-top: 0;
  font-size: 2rem;
  cursor: pointer;
  right: .5rem;
  top: .5rem;
}

/*Product Details*/

.Back-to-Result{
  padding : 1rem;
}


.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
}
.details-image{
  flex: 50%;
}
.details-image img{
  max-width: 60rem;
  widows: 100%;
  
}

.details-info{
  flex: 1 1 30rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  padding: 1rem;
}
.details-action{
  flex: 1 1 30rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  padding: 1rem;
}

.details-info li, .details-action li{
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}